.body-container {
  background-image: url(../img/Фон1.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}

.page-header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-left: 79px;
  padding-right: 79px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-logo-link {
  text-decoration: none;
}

.page-logo {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

.page-logo:hover {
  color: #3cb878;
  transition: 300ms;
}

.log-in-link {
  color: #fff;
  text-decoration: none;
}

.sign-up-link {
  color: #fff;
  text-decoration: none;
}

.log-in:hover {
  color: #3cb878;
  transition: 300ms;
}

.sign-up:hover {
  color: #3cb878;
  transition: 300ms;
}

.header-content {
  display: flex;
}
.icons-block {
  position: relative;
  margin-right: 27px;
}

.header-icons-list {
  display: flex;
  gap: 27px;
  align-items: center;
}

.icon {
  display: flex;
  align-self: center;
}

.calendar {
  fill: #ffffff;
}

.calendar:hover {
  fill: #3cb878;
  transition: 300ms;
}

.envelope {
  fill: #ffffff;
}

.envelope:hover {
  fill: #3cb878;
  transition: 300ms;
}

.compass{
  fill: #ffffff;
}

.compass:hover{
  fill: #3cb878;
  transition: 300ms;
}

.logandsign-1 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; 
  align-self: center;
  margin-right: 5px;
  margin-left: 25px;
}

.logandsign-2 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; 
  align-self: center;
}

.icons-block::after {
  content: "";
  height: 19px;
  width: 1px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  position: absolute;
  left: 140px;
  bottom: 2px;
}

.main-form {
  margin-top: 54px;
  width: 444px;
  height: 584px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.form-container {
  width: 326px;
  padding: 30px 60px 38px 60px;
  background-color: #fff;
  margin-top: 53px;
  margin-left: auto;
  margin-right: auto;
}

.sign-up-form {
  color: #434343;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  margin-right: 216px;
  position: relative;
}


.sign-up-form::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: -60px;
  top: 2px;
}

.login-form {
  color: #3cb878;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  display: inline-block;
}

.log-in-form {
  color: #3cb878;
  text-decoration: none;
}

.log-in-form:hover {
  color: #01813f;
  text-decoration: underline;
  transition: 300ms;
}

.facebook-button {
  margin-top: 15px;
  margin-left: 1px;
  width: 160px;
  height: 48px;
  background-color: #305db8;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-image: url(../img/F.svg);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: center;
  background-size: 24px;
  border-radius: 5px;
  border: none;
  text-align: end;
  padding-left: 0;
  padding-right: 22px;
  position: relative;
}

.facebook-button::before {
  content: "";
  width: 1px;
  height: 28px;
  opacity: 0.1;
  background: #0a162f;
  position: absolute;
  left: 50px;
  top: 10px;
}

.facebook-button:hover {
  background-color: #022263;
  transition: 300ms;
}

.google-button {
  margin-top: 15px;
  margin-right: 1px;
  width: 160px;
  height: 48px;
  background-color: #df4a32;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-image: url(../img/google.png);
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: center;
  background-size: 30px;
  border-radius: 5px;
  border: none;
  text-align: end;
  padding-left: 0;
  padding-right: 28px;
  position: relative;
}

.google-button::before {
  content: "";
  width: 1px;
  height: 28px;
  opacity: 0.1;
  background: #0a162f;
  position: absolute;
  left: 60px;
  top: 10px;
}

.google-button:hover {
  background-color: #ab1f09;
  transition: 300ms;
}

.or-line {
  margin-top: 30px;
  margin-bottom: 12px;
  text-align: center;
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  position: relative;
}

.or-line::before {
  content: "";
  width: 152px;
  height: 1px;
  background: #f2f2f2;
  position: absolute;
  left: 0;
  top: 7px;
}

.or-line::after {
  content: "";
  width: 152px;
  height: 1px;
  background: #f2f2f2;
  position: absolute;
  right: 0;
  top: 7px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  position: relative;
}

.form-input {
  display: flex;
  width: 322px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  border: 1px solid #f2f2f2;
  color: #bebebe;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  border-radius: 5px;
  outline: none;
}

.form-input:focus {
  color: #434343;
  border: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.terms-text {
  display: inline-block;
}

.terms-changed {
  color: #3cb878;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.terms-changed:hover {
  color: #01813f;
  text-decoration: underline;
  transition: 300ms;
}

.checkbox-div{
  position: relative;
}

.checkbox-input{
  -webkit-appearance: none ;
  appearance: none;
  position: absolute;
}


.label1{
  padding-left: 30px;
  text-align: center;
  color: #434343;
  line-height: 20px;
}

.label1::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #F2F2F2;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.label1::after{
  content: "";
  display: block;

  width: 16px;
  height: 16px;
  background-image: url(../img/Vector1.svg); 
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;

  /* спроба зробити галочку */
  /* background-color: #3CB878;
  width: 10px;
  height: 2px;
  transform: translateX(10px) rotate(-130deg) ;
  transform-origin: left bottom; */
  /* width: 20px;
  height: 2px;
  transform: translateX(10px) rotate(-90deg) ;
  transform-origin: left top; */

}



.checkbox-input:checked + .label1::after{
    opacity: 1;
    transition: 400ms;
}


.create-account-button {
  width: 324px;
  border-radius: 4px;
  background-color: rgba(60, 184, 120, 0.8);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.create-account-button:hover{
  background-color: #01813F;
  transition: 300ms;
}